.App {
    text-align: center;
    background-color: rgb(255, 255, 255);

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.menu-bar {
    text-align: left;
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 43, 43);
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 14px;
        margin-left: 27px;
        position: relative;
        bottom: 25px;
    }

    nav {
        margin-top: 35px;

        a {
            margin: 30px 20px;
            cursor: pointer;
        }

        a:hover {
            color: aqua;
        }
    }
}

.logo {
    margin-left: 30px;
}

.globe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.data-container-left {
    width: 300px;
    min-height: 100px;
    margin-top: 50px;
    margin-right: 140px;
    text-align: left;

    div {
        background-color: rgba(209, 191, 191, 0.493);
        padding: 1px 0px;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 5px 10px;
    }
}

.data-container-right {
    width: 300px;
    min-height: 00px;
    margin-top: 50px;
    margin-left: 140px;
    text-align: left;

    div {
        background-color: rgba(209, 191, 191, 0.493);
        padding: 1px 0px;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 5px 10px;
    }

    form {
        text-align: center;
        padding-bottom: 150px;
    }
}

#data-header {
    background-color: rgb(44, 43, 43);
    border-bottom: 2px solid rgb(219, 205, 205);
    color: white;
    justify-content: center;
}

#text {
    display: block;

    h3 {
        text-align: center;
    }
}

#error {
    text-align: center;
    color: red;
    position: relative;
    bottom: 140px;
}

input {
    width: 150px;
    margin-left: 10px;
}

button {
    position: relative;
    bottom: 130px;
    left: 220px;
    cursor: pointer;
}

#user-ip {
    color: red;
}

#specific-ip {
    color: blue;
}

.icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.logo-color {
    color: aqua;
}

.technologies {
    width: 15px;
    height: 15px;
    margin: 3px;
    position: relative;
    top: 5px;
}
